<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <nav class="navbar navbar-expand navbar-light navbar-bg" th:fragment="header">
        <a class="sidebar-toggle d-flex">
            <i class="hamburger align-self-center"></i>
        </a>

        <form class="d-none d-sm-inline-block">
            <div class="input-group input-group-navbar">
                <input type="text" class="form-control" placeholder="Search…" aria-label="Search">
                <button class="btn" type="button">
                    <i class="align-middle" data-feather="search"></i>
                </button>
            </div>
        </form>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
        <i class="align-middle" data-feather="settings"></i>
      </a>

<!-- 	<th:block sec:authorize="hasRole(T(xyz.dunshow.constants.UserRole).ADMIN.role)"> -->
	<th:block sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                    <i class="align-middle mr-1" data-feather="user"></i>
                    <th:block th:text="${session[T(xyz.dunshow.constants.SessionKey).LOGIN.value].email}"></th:block>
      </a>
                    <div class="dropdown-menu dropdown-menu-right">
<!--                         <div class="dropdown-divider"></div> -->
                        <a class="dropdown-item" href="pages-settings.html"><i class="align-middle mr-1" data-feather="settings"></i> Settings & Privacy</a>
                        <a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="help-circle"></i> Help Center</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </div>
                    </th:block>
                    <th:block sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/oauth2/authorization/google">
                    <i class="align-middle mr-1" data-feather="log-in"></i>
                    	Login...
                    </a>
                    </th:block>
                </li>
            </ul>
        </div>
    </nav>
</html>
