<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">

<div layout:fragment="content" class="container-fluid p-0">
	
	<!-- 왼 -->
	<div class="row">
	<div class="col-md-3 col-xl-2">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0" id="marketDate"></h5>
			</div>

			<div class="list-group list-group-flush" role="tablist" id="joblist">
				<th:block th:each="item : ${jobList}">
					<th:block th:if="${item.jobValue != '9' && item.jobValue != '10' } ">
					<a data-toggle="list" th:attr="href='#target_' + ${item.jobValue}, id=((${item.jobValue} == 0) ? firstTarget), class=((${item.jobValue} == 0) ? 'list-group-item list-group-item-action show active' : 'list-group-item list-group-item-action')" role="tab" aria-selected="false" th:text="${item.jobName}">
			        </a>
			        </th:block>
				</th:block>
			</div>
		</div>
	</div>
	
	<!-- 중간 -->
	<div class="col-md-8 col-xl-9">
	<div class="tab-content">
							<th:block th:each="item : ${jobList}">
								<div th:attr="class=((${item.jobValue} == 0) ? 'tab-pane fade active show' : 'tab-pane fade'), id='target_' + ${item.jobValue}" role="tabpanel">
										<div class="card">
											<div class="card-header">
													<ul class="nav nav-pills card-header-pills pull-right" role="tablist">
														<th:block th:each="jobDetail : ${jobDetailList}">
															<li class="nav-item" th:if="${item.jobValue == jobDetail.jobValue}">
																<a data-toggle="tab" th:attr="class='nav-link',href='#jobDetail_' + ${jobDetail.jobDetailSeq}" th:text="${jobDetail.firstJob}"></a>
															</li>
														</th:block>
														<li class="nav-item">
															<a data-toggle="tab" th:attr="class='nav-link',href='#jobDetail_' + ${item.jobValue} + '_99'" th:text="기타"></a>
														</li>
													</ul>
											</div>
											<div class="card-body">
												<div class="tab-content">
													<th:block th:each="jobDetail : ${jobDetailList}" th:if="${item.jobValue == jobDetail.jobValue}">
														<div th:attr="class='tab-pane fade',id='jobDetail_' + ${jobDetail.jobDetailSeq}" role="tabpanel">
															<div class="float-right mb-3">
																<button class="btn btn-outline-info asc" th:attr="onclick=|detailSort('acc_D${jobDetail.jobDetailSeq}', 'degree', this)|">이름순</button>
																<button class="btn btn-outline-info asc" th:attr="onclick=|detailSort('acc_D${jobDetail.jobDetailSeq}', 'price', this)|">가격순</button>
																<button class="btn btn-outline-info asc" th:attr="onclick=|detailSort('acc_D${jobDetail.jobDetailSeq}', 'rate', this)|">비율순</button>
															</div>
															<div class="accordion" id="accordionExample" th:attr="id='acc_D' + ${jobDetail.jobDetailSeq}">
																<div class="card-header">
																	<div class="text-sm text-muted p-2 mt-1">
																		▶ 아바타 마켓에 등록된 물품으로 30분 간격으로 갱신됩니다.<br>
																		▶ 직업별로 나뉘는 기준은 상의아바타 옵션만 보고 결정됩니다.<br>
																		▶ 메인에 보이는 비율(%)은 아바타 상세정보의 총 비율입니다.<br>
																		▶ 직업별 랭킹(1 ~ 200위)을 기준으로 아바타옵션, 엠블렘 사용비율(%)이 결정됩니다.
																	</div>
																</div>
															</div>
														
														</div>
													</th:block>
														<div th:attr="class='tab-pane fade',id='jobDetail_' + ${item.jobValue} + '_99'" role="tabpanel">
															<div class="float-right mb-3">
																<button class="btn btn-outline-info asc" th:attr="onclick=|detailSort('acc_${item.jobValue}_D99', 'degree', this)|">이름순</button>
																<button class="btn btn-outline-info asc" th:attr="onclick=|detailSort('acc_${item.jobValue}_D99', 'price', this)|">가격순</button>
															</div>
															<div class="accordion" id="accordionExample" th:attr="id='acc_' + ${item.jobValue} + '_D99'">
																<div class="card-header">
																	<div class="text-sm text-muted p-2 mt-1">
																		▶ 아바타 마켓에 등록된 물품으로 30분 간격으로 갱신됩니다.<br>
																		▶ 직업별로 나뉘는 기준은 상의아바타 옵션만 보고 결정됩니다.<br>
																		▶ 메인에 보이는 비율(%)은 아바타 상세정보의 총 비율입니다.<br>
																		▶ 직업별 랭킹(1 ~ 200위)을 기준으로 아바타옵션, 엠블렘 사용비율(%)이 결정됩니다.<br>
																		<span class="text-danger">▶ 기타는 랭킹데이터에 존재하지 않는 상의아바타 옵션입니다.</span>
																	</div>
																</div>
															</div>
														</div>
												</div>
												</div>
												</div>
												</div>
												</th:block>
												</div>
												</div>
</div>

         <div class="modal fade" id="sizedModalLg" tabindex="-1" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalTitle"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		             				<span aria-hidden="true">×</span>
		           			</button>
					</div>
					<div class="modal-body m-3" id="modalBody">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>


</div>

<th:block layout:fragment="script">
<script type="text/javascript">
	$(document).ready(function () {
		initData();
	});
	
	function initData() {
		show.data = {};
		show.data.jobs = {};
		show.prev = {};
		show.prev.choice = [];
		show.prev.src = [];
		
	    $.ajax({
			url : '/data/auction.ajax',
			data : {
			},
			success : function(res) {
// 				$('#targetImage').attr('src', 'http://avatarsync.df.nexon.com/wear/image/stand@2x.png?wearInfo=%7B%22job%22:%22'+jobSeq+'%22,%22level%22:0,%22hair%22:null,%22cap%22:null,%22face%22:null,%22neck%22:null,%22coat%22:null,%22belt%22:null,%22pants%22:null,%22shoes%22:null,%22skin%22:null,%22weapon1%22:null,%22package%22:null,%22animation%22:%22Stand%22%7D');
// 				var parts = res.data.data;
// 				var i;
				var detail = res.data.data;
				show.data.outer = res.data.outer;
				show.data.price = res.data.info.price;
				show.data.etcColor = res.data.info.etcColor;
				show.data.etcPlatinum = res.data.info.etcPlatinum;
				a();
				$('#marketDate').text('갱신 : ' + res.data.marketDate);
				console.log(res);
// 				for (i = 0; i < detail.length; i++) {
// 					if (!show.data.jobs.hasOwnProperty(detail[i].jobValue)) {
// 						show.data.jobs[detail[i].jobValue] = {};
// 					}
// 					if (!show.data.jobs[detail[i].jobValue][jobDetail].hasOwnProperty(detail[i].jobDetail)) {
// 						show.data.jobs[detail[i].jobValue][jobDetail][detail[i].jobDetail] = {};
// 					}
// 					show.data.jobs[detail[i].jobValue][jobDetail] = {};
// 				}
			}
		})
	}
	
	// 100, 110, 120, 130, 999
	var emblem = {
		'100' : '없음',
		'110' : '빛작',
		'120' : '화작',
		'130' : '찬작',
		'999' : '혼합'
	}
	
	function a() {
		show.data.detail = [];
		var html = [];
		var detail = [];
		var count = 0;
		var totalRate = 0;
		var classTxt = '';
		console.log('시작');
		$.each(show.data.outer, function(i, item) {
			$.each(show.data.outer[i], function(j, item2) {
				$.each(show.data.outer[i][j],function(k, item3) {
					$.each(show.data.outer[i][j][k], function(l, item4) {
						$.each(item4, function(m, item5) {
							html = [];
							detail = [];
							count = 0;
							totalRate = 0;
							
							detail.push('<button onclick="customEmblem('+(show.data.detail.length)+')" class="btn btn-primary" data-toggle="modal" data-target="#sizedModalLg">엠블렘 커스텀</button>');
							
							detail.push('<table class="table table-striped"><thead><tr>');
							detail.push('<th style="width:25%;">아바타 명</th>');
							detail.push('<th style="width:30%">선택옵션 및 비율</th>');
							detail.push('<th class="d-none d-md-table-cell" style="width:30%">엠블렘 및 비율</th>');
							detail.push('</tr></thead><tbody>');
							
							
							
							
							$.each(item5.details, function(n, item6) {
// 								detail.push(item6.itemName);
// 								detail.push(item6.choiceOption);
// 								detail.push(item6.choiceOptionRate);
// 								detail.push(item6.emblemName1);
// 								detail.push(item6.emblemName2);
// 								detail.push(item6.emblemName3);
// 								detail.push(item6.emblemRate1);
// 								detail.push(item6.emblemRate2);
// 								detail.push(item6.emblemRate3);
								
								detail.push('<tr>');
								detail.push('<td>'+ item6.itemName +'</td>');
								classTxt = Number(item6.choiceOptionRate) >= 50 ? "text-success" : "text-danger";
								detail.push('<td>'+ item6.choiceOption);
								detail.push('<span class="'+classTxt+'">[' + item6.choiceOptionRate + '%]</span></td>');
								detail.push('<td>');
								if (item6.emblemName1) {
									detail.push('<p class="custom-p">'+item6.emblemName1);
									classTxt = Number(item6.emblemRate1) >= 50 ? "text-success" : "text-danger";
									detail.push('<span class="'+classTxt+'">['+item6.emblemRate1+'%]</span></p>');
								}
								if (item6.emblemName2) {
									detail.push('<p class="custom-p">'+item6.emblemName2);
									classTxt = Number(item6.emblemRate2) >= 50 ? "text-success" : "text-danger";
									detail.push('<span class="'+classTxt+'">['+item6.emblemRate2+'%]</span></p>');
								}
								if (item6.emblemName3) {
									detail.push('<p class="custom-p">'+item6.emblemName3);
									classTxt = Number(item6.emblemRate3) >= 50 ? "text-success" : "text-danger";
									detail.push('<span class="'+classTxt+'">['+item6.emblemRate3+'%]</span></p>');
								}
								
								detail.push('</td>');
								detail.push('</tr>');
							
								item6.choiceOptionRate == '0.0' ? '' : count++;
								item6.emblemRate1 == '0.0' ? '' : count++;
								item6.emblemRate2 == '0.0' ? '' : count++;
								item6.emblemRate3 == '0.0' ? '' : count++;
								totalRate += ((Number(item6.choiceOptionRate) + Number(item6.emblemRate1) + Number(item6.emblemRate2) + Number(item6.emblemRate3)));
							});
							
							detail.push('</tbody></table>');
							item5.totalRate = (Number(totalRate) / Number(count)).toFixed(2);
							show.data.detail.push(item5);
							
							html.push('<div class="card" data-price="'+item5.price+'" data-degree="'+item5.degree+'" data-rate="'+item5.totalRate+'">');
							html.push('<div class="card-header" id="heading'+ item5.marketMstSeq +'">');
							html.push('<h5 class="card-title my-2">');
							html.push('<a nohref data-toggle="collapse" data-target="#Detail'+item5.marketMstSeq+'" aria-expanded="true" aria-controls="collapse1" class="">');
							if (item5.jobDetailSeq == '99') {
								html.push('<span class="text-success" style="padding-right:10px;">[' + emblem[item5.emblemCode] +']</span>');
							} else {
								classTxt = (Number(totalRate) / Number(count)).toFixed(2) >= 50 ? "text-success" : "text-danger";
								html.push('<span class="'+classTxt+'" style="padding-right:10px;">[' + emblem[item5.emblemCode] + ' - ' + (Number(totalRate) / Number(count)).toFixed(2) +'%]</span>');
							}
							
							html.push('<strong style="padding-right:20px;">' + item5.title + '</strong>');
							html.push(numberWithCommas(item5.price) + '골드');
							html.push('</a></h5></div>');
							if (item5.jobDetailSeq == '99') {
								html.push('<div id="Detail'+item5.marketMstSeq+'" class="collapse" aria-labelledby="heading'+ item5.marketMstSeq +'" data-parent="#acc_'+ item5.jobValue +'_'+ j +'" style="">');
							} else {
								html.push('<div id="Detail'+item5.marketMstSeq+'" class="collapse" aria-labelledby="heading'+ item5.marketMstSeq +'" data-parent="#acc_'+ j +'" style="">');
							}
							
							html.push('<div class="card-body">');
							html.push(detail.join(''));
							html.push('</div></div></div>');
							
							if (item5.jobDetailSeq == '99') {
								$('#acc_' + item5.jobValue + '_D' + item5.jobDetailSeq).append(html.join(''));
							} else {
								$('#acc_D' + item5.jobDetailSeq).append(html.join(''));
							}
						});
					});
				})
			});
		});
		console.log('끝');
		// #acc_D
// 		html.push('<div class="card">');
// 		html.push('<div class="card-header" id="heading'+ item5.marketMstSeq +'">');
// 		html.push('<h5 class="card-title my-2">');
// 		html.push('<a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" class="">');
// 		html.push('데이터 가져오기 (UrlConnection -> DB)');
// 		html.push('</a></h5></div>');
// 		html.push('<div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample" style="">');
// 		html.push('<div class="card-body">');
// 		html.push('body contents');
// 		html.push('</div></div></div>');
	}
	
	
	function detailSort(target, sortNm, obj) {
		var $sortObj = $('#'+target+' .card').get();
		var valueA, valueB;
		var sortStat;
		
		if ($(obj).hasClass('asc')) {
			sortStat = 'asc';
			$(obj).removeClass('asc').addClass('desc');
		} else {
			sortStat = 'desc';
			$(obj).removeClass('desc').addClass('asc');
		}
		
		$sortObj.sort(function(a,b) {
			valueA = $(a).data(sortNm);
			valueB = $(b).data(sortNm);
			
			if (valueA === valueB) {
				if (sortNm != 'price') {
					var tempA = $(a).data('price');
					var tempB = $(b).data('price');
					
					if (tempA == tempB) {
						return 0;
					} else {
						return parseInt(tempA) - parseInt(tempB);
					}
				}
				return 0;
			} else if (valueA == null) {
				return 1;
			} else if (valueB == null) {
				return -1;
			} else if (sortStat == 'asc') {
				return parseInt(valueA) - parseInt(valueB);
			} else {
				return parseInt(valueB) - parseInt(valueA);
			}
		});
		
		$.each($sortObj, function(index, row) {
			console.log(row);
			$('#'+target).append(row);
		})
	}
	
	function customEmblem(idx) {
    	var target = show.data.detail[idx];
    	var detail = [];
    	var classTxt = '';
    	var copy = [], platinum = [];
    	var price = show.data.price['D'+target.jobDetailSeq];
    	var emblemParts = {
    			'cap' : 'red',
    			'hair' : 'red',
    			'coat' : 'green',
    			'pants' : 'green',
    			'shoes' : 'blue',
    			'belt' : 'blue',
    			'skin' : 'all',
    			'neck' : 'yellow',
    			'face' : 'yellow'
    	}, slotId = {
    			'cap' : '모자',
    			'hair' : '머리',
    			'coat' : '상의',
    			'pants' : '하의',
    			'shoes' : '신발',
    			'belt' : '허리',
    			'skin' : '피부',
    			'neck' : '목가슴',
    			'face' : '얼굴'
    	}
    	
    	var info = '<div class="text-sm text-muted p-2 mt-1">'
		 + '▶ 엠블렘 가격은 최근 판매금액 N건의 평균값 입니다. (최대 20건)<br>'
		 + '▶ 엠블렘 가격은 30분 간격으로 갱신됩니다.<br>'
		 + '</div>';
    	detail.push(info);
    	detail.push('<table class="table table-striped"><thead><tr>');
		detail.push('<th style="width:7%;">부위</th>');
		detail.push('<th style="width:30%">엠블렘 및 비율</th>');
		detail.push('<th style="width:30%">커스텀</th>');
		detail.push('</tr></thead><tbody>');
		
		$.each(target.details, function(i, item) {
			copy = [];
			platinum = [];
			detail.push('<tr>');
			detail.push('<td>'+ slotId[item.slotId] +'</td>');
			detail.push('<td>');
			if (item.emblemName1) {
				detail.push('<p class="custom-p">'+item.emblemName1);
				classTxt = Number(item.emblemRate1) >= 50 ? "text-success" : "text-danger";
				detail.push('<span class="'+classTxt+'">['+item.emblemRate1+'%]</span></p>');
			}
			if (item.emblemName2) {
				detail.push('<p class="custom-p">'+item.emblemName2);
				classTxt = Number(item.emblemRate2) >= 50 ? "text-success" : "text-danger";
				detail.push('<span class="'+classTxt+'">['+item.emblemRate2+'%]</span></p>');
			}
			if (item.emblemName3) {
				detail.push('<p class="custom-p">'+item.emblemName3);
				classTxt = Number(item.emblemRate3) >= 50 ? "text-success" : "text-danger";
				detail.push('<span class="'+classTxt+'">['+item.emblemRate3+'%]</span></p>');
			}
			detail.push('</td>');
			
			var tempArr = '';
			if (target.jobDetailSeq == '99') {
				tempArr = show.data.etcColor[emblemParts[item.slotId]];
			} else {
				tempArr = price[emblemParts[item.slotId]];
			}
			
			$.each(tempArr, function(j, item2) {
				if (target.jobDetailSeq == '99') {
					copy.push('<option value="'+item2.price+'">'+item2.emblemName + '</option>');
				} else {
					copy.push('<option value="'+item2.price+'">'+item2.emblemName + ' ['+ item2.rate +']</option>');
				}
				
			});
			detail.push('<td>');
			if (item.slotId == 'coat' || item.slotId == 'pants') {
				if (target.jobDetailSeq == '99') {
					tempArr = show.data.etcPlatinum['D'+target.jobValue];
				} else {
					tempArr = price['platinum'];
				}
				
				$.each(tempArr, function(j, item2) {
					if (target.jobDetailSeq == '99') {
						platinum.push('<option value="'+item2.price+'">'+item2.emblemName + '</option>');
					} else {
						platinum.push('<option value="'+item2.price+'">'+item2.emblemName + ' ['+ item2.rate +']</option>');
					}
					
				});
				detail.push('<select class="form-control customEmblem" onchange="selectEmblem(this);">');
				detail.push('<option value="0">선택</option>');
				detail.push(platinum.join(''));
				detail.push('</select>');
			}
			
			detail.push('<select class="form-control customEmblem" onchange="selectEmblem(this);">');
			detail.push('<option value="0">선택</option>');
			detail.push(copy.join(''));
			detail.push('</select>');
			detail.push('<select class="form-control customEmblem" onchange="selectEmblem(this);">');
			detail.push('<option value="0">선택</option>');
			detail.push(copy.join(''));
			detail.push('</select>');
			detail.push('</td>');
			
			detail.push('</tr>');
    	})
    	
    	$('#modalBody').children().remove();
		var titleTxt = '';
		var classTxt = '';
		if (target.jobDetailSeq == '99') {
			titleTxt = '<span class="'+ classTxt +'" style="padding-right:10px;">['+ emblem[target.emblemCode] + ']</span>';
		} else {
			classTxt = Number(target.totalRate) >= 50 ? 'text-success' : 'text-danger'; 
			titleTxt = '<span class="'+ classTxt +'" style="padding-right:10px;">['+ emblem[target.emblemCode] + ' - ' + target.totalRate + '%]</span>';
		}
		
		titleTxt += '<strong style="padding-right:10px;">'+ target.title +'</strong>';
		titleTxt += '<span id="targetPrice">' + numberWithCommas(target.price) + '</span>골드';
		titleTxt += '<span class="text-success" id="increasePrice" style="padding-left:10px; padding-right:10px;">+0</span>';
		titleTxt += '<span id="totalPrice">0</span>골드';
		
    	$('#modalTitle').html(titleTxt);
    	$('#modalBody').append(detail.join(''));
    }
	
	function selectEmblem(obj) {
		var unitPrice = 0;
		$.each($('.customEmblem'), function() {
			unitPrice += Number($(this).val());
		})
		$('#increasePrice').text('+' + numberWithCommas(unitPrice));
		var total = numberRemoveCommas($('#targetPrice').text());
		$('#totalPrice').text(numberWithCommas(Number(total) + Number(unitPrice)));
	}
</script>
</th:block>

</html>