<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">

<div layout:fragment="content" class="container-fluid p-0">
	<h1 class="h3 mb-3">ShowRoom</h1>
		<div class="row">
			<div class="col-md-4 col-xl-3">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title mb-0">Preview</h5>
					</div>
					<div class="card-body text-center">
						<img src="http://avatarsync.df.nexon.com/wear/image/stand@2x.png?wearInfo=%7B%22job%22:%220%22,%22level%22:0,%22hair%22:null,%22cap%22:null,%22face%22:null,%22neck%22:null,%22coat%22:null,%22belt%22:null,%22pants%22:null,%22shoes%22:null,%22skin%22:null,%22weapon1%22:null,%22package%22:null,%22animation%22:%22Stand%22%7D" alt="Christina Mason" class="img-fluid mb-2" width="300" height="345" id="targetImage">
					<div>
						<a class="btn btn-primary btn-sm" href="#" onclick="randomAvatar();">랜덤 아바타</a>
						<a class="btn btn-primary btn-sm" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> 초기화</a>
					</div>
					</div>
					<hr class="my-0">
					<div class="card-body">
						<h5 class="h6 card-title">Skills</h5>
						
						<a href="#" class="badge bg-primary mr-1 my-1">HTML</a>
						<a href="#" class="badge bg-primary mr-1 my-1">JavaScript</a>
						<a href="#" class="badge bg-primary mr-1 my-1">Sass</a>
						<a href="#" class="badge bg-primary mr-1 my-1">Angular</a>
						<a href="#" class="badge bg-primary mr-1 my-1">Vue</a>
						<a href="#" class="badge bg-primary mr-1 my-1">React</a>
						<a href="#" class="badge bg-primary mr-1 my-1">Redux</a>
						<a href="#" class="badge bg-primary mr-1 my-1">UI</a>
						<a href="#" class="badge bg-primary mr-1 my-1">UX</a>
					</div>
					<hr class="my-0">
					<div class="card-body">
						<h5 class="h6 card-title">About</h5>
						<ul class="list-unstyled mb-0">
							<li class="mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home feather-sm mr-1"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg> Lives in <a href="#">San Francisco, SA</a></li>

							<li class="mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase feather-sm mr-1"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg> Works at <a href="#">GitHub</a></li>
							<li class="mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin feather-sm mr-1"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg> From <a href="#">Boston</a></li>
						</ul>
					</div>
					<hr class="my-0">
					<div class="card-body">
						<h5 class="h6 card-title">Elsewhere</h5>
						<ul class="list-unstyled mb-0">
							<li class="mb-1"><span class="fas fa-globe fa-fw mr-1"></span> <a href="#">staciehall.co</a></li>
							<li class="mb-1"><span class="fab fa-twitter fa-fw mr-1"></span> <a href="#">Twitter</a></li>
							<li class="mb-1"><span class="fab fa-facebook fa-fw mr-1"></span> <a href="#">Facebook</a></li>
							<li class="mb-1"><span class="fab fa-instagram fa-fw mr-1"></span> <a href="#">Instagram</a></li>
							<li class="mb-1"><span class="fab fa-linkedin fa-fw mr-1"></span> <a href="#">LinkedIn</a></li>
						</ul>
					</div>
				</div>
			</div>
						
						
						
						
						
									
						<div class="col-md-5 col-xl-7">
						<div class="tab-content">
							<th:block th:each="item : ${jobList}">
								<div th:attr="class=((${item.jobValue} == 0) ? 'tab-pane fade active show' : 'tab-pane fade'), id='target_' + ${item.jobValue}" role="tabpanel">
										<div class="card">
											<div class="card-header">
													<ul class="nav nav-pills card-header-pills pull-right" role="tablist">
														<th:block th:each="parts : ${partsList}">
															<li class="nav-item">
																<a data-toggle="tab" th:attr="class=((${parts.partsSeq}) == 0 ? 'nav-link active' : 'nav-link'),href='#parts_' + ${parts.partsSeq} + '_job_' + ${item.jobValue}" th:text="${parts.partsKorName}"></a>
															</li>
														</th:block>
													</ul>
											</div>
											<div class="card-body">
												<div class="tab-content">
													<th:block th:each="parts : ${partsList}">
														<div th:attr="class=((${parts.partsSeq}) == 0 ? 'tab-pane fade active show' : 'tab-pane fade'),id='parts_' + ${parts.partsSeq} + '_job_' + ${item.jobValue}" role="tabpanel">
														</div>
													<th:block th:each="parts : ${partsList}">
												</div>
											</div>
										</div>
								</div>
							</th:block>
								
								
						</div>
						</div>
						
						<div class="col-md-3 col-xl-2">

							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">직업 선택</h5>
								</div>

								<div class="list-group list-group-flush" role="tablist" id="joblist">
									<th:block th:each="item : ${jobList}">
										<a data-toggle="list" th:attr="href='#target_' + ${item.jobValue}, id=((${item.jobValue} == 0) ? firstTarget), class=((${item.jobValue} == 0) ? 'list-group-item list-group-item-action show active' : 'list-group-item list-group-item-action'), onclick='initData(' + ${item.jobValue} + ')'" role="tab" aria-selected="false" th:text="${item.jobName}">
								        </a>
									</th:block>
									
								</div>
							</div>
						</div>
						<!-- 오른쪽 나올것 -->
		</div>
</div>


<th:block layout:fragment="script">
    <script type="text/javascript">
    $(document).ready(function () {
    	initData('0');
    });
    
    function initData(jobSeq) {
    	show.data = {};
    	show.data.parts = {};
    	
	    $.ajax({
			url : '/avatar/data.ajax',
			data : {
				jobSeq : jobSeq
			},
			success : function(res) {
				$('#targetImage').attr('src', 'http://avatarsync.df.nexon.com/wear/image/stand@2x.png?wearInfo=%7B%22job%22:%22'+jobSeq+'%22,%22level%22:0,%22hair%22:null,%22cap%22:null,%22face%22:null,%22neck%22:null,%22coat%22:null,%22belt%22:null,%22pants%22:null,%22shoes%22:null,%22skin%22:null,%22weapon1%22:null,%22package%22:null,%22animation%22:%22Stand%22%7D');
				var parts = res.data.data;
				var i;
				
				for (i = 0; i < parts.length; i++) {
					if (!show.data.parts.hasOwnProperty(parts[i].partsName)) {
						show.data.parts[parts[i].partsName] = [];
					}
					show.data.parts[parts[i].partsName].push(parts[i]);
				}
			}
		})
    }
    
    function randomAvatar() {
    	var imgSrc = 'http://avatarsync.df.nexon.com/wear/image/stand@2x.png?wearInfo=';
    	var wearInfo = {
    		'job' : '',
    		'level' : 0,
    		'hair' : { 'index' : '','color' : 0 },
    		'cap' : { 'index' : '','color' : 0 },
    		'face' : { 'index' : '','color' : 0 },
    		'neck' : { 'index' : '','color' : 0 },
    		'coat' : { 'index' : '','color' : 0 },
    		'belt' : { 'index' : '','color' : 0 },
    		'pants' : { 'index' : '','color' : 0 },
    		'shoes' : { 'index' : '','color' : 0 },
    		'skin' : { 'index' : '','color' : 0 },
    		'weapon1' : null,
    		'package' : null,
    		'animation' : 'Stand',
    	}
    	
    	$.each($('#joblist').find('a'), function() {
    		if ($(this).attr('class').indexOf('active') > -1) {
    			wearInfo.job = $(this).attr('href').split('_')[1];
    			return false;
    		}
    	});
    	
    	$.each(show.data.parts, function(index, item) {
    		var ran = Math.floor(Math.random() * show.data.parts[index].length);
    		var target = show.data.parts[index][ran];
    		wearInfo[index].index = target.previewIndex; 
    	});
    	
    	$('#targetImage').attr('src', imgSrc + encodeURI(JSON.stringify(wearInfo)));
    }
    
    </script>
</th:block>

</html>