<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">

<div layout:fragment="content" class="container-fluid p-0">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Preview</h5>
                </div>
                <div class="card-body text-center">
<!--                     <img src="https://via.placeholder.com/300x345" class="img-fluid mb-2" width="300" height="345"> -->
                    <img th:src="${imgSrc}" alt="Christina Mason" class="img-fluid mb-2" width="300" height="345">
                <div>
                </div>
                <hr class="my-3 showDetail">
                <div class="card-body">
                <h5 class="h6 card-title"><i class="align-middle mr-1" data-feather="trending-down"></i>가격정보</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1" th:text="${totalPrice}"></li>
                    <li class="mb-1" th:text="${totalAverage}"></li>
                </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-xl-7">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">아바타 상세정보</h5>
                    <div class="text-sm text-muted p-2 mt-1">
                        ▶ 교환불가란 (경매장에 등록되어 있지 않고 최근거래내역이 없으면 교환불가 처리)<br>
                        ▶ 평균가만 존재하는 경우 (경매장에 등록된 상품이 없으면 최근 거래내역 조회 후 N건의 평균값 - 최대 10건)<br>
                        ▶ 최저가 합계 = 부위별 최저가 합계 + 평균가 (등록된 상품이 없는경우)
                    </div>
                </div>

                <hr class="my-0">
                <div class="card-body showDetail">
                    <ul class="list-unstyled mb-0">
                        <th:block th:each="data : ${data}">
                            <li class="mb-1" >
                                <strong th:text="${data.itemName}"></strong><br>
                                최저가 : <th:block th:text="${data.unitPrice}"></th:block>
                                평균가 : <th:block th:text="${data.averagePrice}"></th:block>
                            </li>
                            <hr class="my-0">
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
<script type="text/javascript">

</script>
</th:block>

</html>