<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.dunshow.mapper.EmblemRateMapper">

	<select id="selectAll" resultType="EmblemRateDto">
		SELECT *
		  FROM EMBLEM_RATE
	     ORDER BY JOB_DETAIL_SEQ, CAST(RATE AS DECIMAL(4,2)) DESC
	</select>
	
	<select id="selectDistinctAll" resultType="EmblemRateDto">
		SELECT *
		  FROM EMBLEM_RATE
	     GROUP BY EMBLEM_NAME
	</select>
	
	<select id="selectAllWithPrice" resultType="EmblemRateDto">
		SELECT R.EMBLEM_RATE_SEQ
			, R.EMBLEM_NAME
			, R.JOB_DETAIL_SEQ
			, R.RATE
			, R.EMBLEM_COLOR
			, IFNULL(P.PRICE, '0') PRICE
			, j.job_value
			FROM EMBLEM_RATE R LEFT JOIN EMBLEM_PRICE P ON R.EMBLEM_NAME = P.EMBLEM_NAME
			INNER JOIN job_detail j ON r.job_detail_seq = j.JOB_DETAIL_SEQ
			ORDER BY R.JOB_DETAIL_SEQ, R.EMBLEM_COLOR, CAST(R.RATE AS DECIMAL(4,2)) DESC
	</select>
	
	<select id="selectEtcPrice" resultType="EmblemRateDto">
		SELECT R.EMBLEM_RATE_SEQ
			, R.EMBLEM_NAME
			, R.JOB_DETAIL_SEQ
			, R.RATE
			, R.EMBLEM_COLOR
			, IFNULL(P.PRICE, '0') PRICE
			, j.job_value
			FROM EMBLEM_RATE R LEFT JOIN EMBLEM_PRICE P ON R.EMBLEM_NAME = P.EMBLEM_NAME
			INNER JOIN job_detail j ON r.job_detail_seq = j.JOB_DETAIL_SEQ
			GROUP BY emblem_color, emblem_name
			ORDER BY R.JOB_DETAIL_SEQ, R.EMBLEM_COLOR, CAST(R.RATE AS DECIMAL(4,2)) DESC
	</select>
	
</mapper>