<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.dunshow.mapper.JobDetailMapper">

	<resultMap id="jobDetailDto" type="xyz.dunshow.dto.JobDetailDto">
        <id property="jobDetailSeq" column="JOB_DETAIL_SEQ" />
        <result property="firstJob" column="FIRST_JOB" />
        <result property="secondJob" column="SECOND_JOB" />
        <result property="thirdJob" column="THIRD_JOB" />
        <result property="fourthJob" column="FOURTH_JOB" />
        <result property="jobValue" column="JOB_VALUE" />
        <association property="job" javaType="xyz.dunshow.dto.JobDto">
        	<id property="jobSeq" column="JOB_SEQ"/>
        	<result property="jobValue" column="JOB_VALUE" />
        	<result property="jobName" column="JOB_NAME" />
        	<result property="jobId" column="JOB_ID" />
        </association>
        <collection property="emblems" ofType="xyz.dunshow.dto.EmblemDto">
            <id property="emblemSeq" column="EMBLEM_SEQ" />
            <result property="jobDetailSeq" column="JOB_DETAIL_SEQ" />
            <result property="emblemId" column="EMBLEM_ID" />
            <result property="emblemName" column="EMBLEM_NAME" />
            <result property="rate" column="RATE" />
            <result property="buffYn" column="BUFF_YN" />
        </collection>
    </resultMap>
    
    <select id="selectJobDetailList" parameterType="JobDetailDto" resultMap="jobDetailDto">
    	SELECT J.JOB_VALUE
    	, J.JOB_NAME
    	, JD.FIRST_JOB
    	, JD.THIRD_JOB
    	, JD.FOURTH_JOB
    	, JD.JOB_DETAIL_SEQ
    	FROM job j INNER JOIN job_detail jd ON j.JOB_VALUE = jd.JOB_VALUE
    	WHERE j.JOB_VALUE != '99'
    </select>
</mapper>