<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">

<div layout:fragment="content" class="container-fluid p-0">

	<div class="row">
		<div class="col-12 col-lg-12">
			<div class="accordion" id="accordionExample">
				<div class="card">
					<div class="card-header" id="heading1">
						<h5 class="card-title my-2">
							<a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" class="">
					            데이터 가져오기 (UrlConnection -> DB)
					        </a>
						</h5>
					</div>
					<div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample" style="">
						<div class="card-body">
							<button class="btn btn-outline-primary" onclick="dataManage('initJobDetail')">JOB_DETAIL</button>
							<button class="btn btn-outline-primary" onclick="dataManage('getEmblem')">EMBLEM</button>
							<button class="btn btn-outline-danger" onclick="dataManage('getRankByDundam')">RANK_DATA</button>
							<button class="btn btn-outline-primary" onclick="dataManage('initOptionAndEmblemByRankData')">RANK_DATA -> OPTION, EMBLEM RATE</button>
							<button class="btn btn-outline-primary" onclick="dataManage('getEmblemPrice')">EMBLEM RATE -> EMBLEM PRICE</button>
							<button class="btn btn-outline-primary" onclick="dataManage('initMarketMaster')">MarketMaster Price</button>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading2">
						<h5 class="card-title my-2">
							<a href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2" class="">
					            데이터 가져오기 (.txt -> DB)
					        </a>
						</h5>
					</div>
					<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample" style="">
						<div class="card-body">
							<strong>실행하기전 JOB, JOB_DETAIL에 데이터 추가가 선행되어야함.</strong><br><hr>
							<button class="btn btn-outline-primary" onclick="dataManage('initEmblemData')">EMBLEM</button>
							<button class="btn btn-outline-primary" onclick="dataManage('initShowRoomData')">SHOW_ROOM</button>
							<button class="btn btn-outline-primary" onclick="dataManage('initRankData')">RANK_DATA</button>
							<button class="btn btn-outline-primary" onclick="dataManage('initEmblemRateData')">EMBLEM_RATE</button>
							<button class="btn btn-outline-primary" onclick="dataManage('initOptionAbilityData')">OPTION_ABILITY</button>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading3">
						<h5 class="card-title my-2">
							<a href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3" class="">
					            데이터 내보내기 (DB -> .txt)
					        </a>
						</h5>
					</div>
					<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample" style="">
						<div class="card-body">
							<strong>SHOW_ROOM 과 RANK_DATA는 주의할것.. DB 직접 조작된 데이터들이 존재</strong><br><hr>
							<button class="btn btn-outline-primary" onclick="dataManage('bakEmblemData')">EMBLEM</button>
							<button class="btn btn-outline-primary" onclick="dataManage('bakEmblemRateData')">EMBLEM_RATE</button>
							<button class="btn btn-outline-primary" onclick="dataManage('bakOptionAbilityData')">OPTION_ABILITY</button>
							<button class="btn btn-outline-danger" onclick="dataManage('bakShowRoomData')">SHOW_ROOM</button>
							<button class="btn btn-outline-danger" onclick="dataManage('bakRankData')">RANK_DATA</button>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading4">
						<h5 class="card-title my-2">
							<a href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4" class="">
					            테스트 (Service 호출)
					        </a>
						</h5>
					</div>
					<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample" style="">
						<div class="card-body">
							<button class="btn btn-outline-primary" onclick="dataManage('testCase')">test() 실행 [AdminService])</button>
							<button class="btn btn-outline-primary" onclick="dataManage('testDataCase')">test() 실행 [DataService]</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="display:none;">
		<!-- 데이터 생성 -->
		<div id="getEmblem">Emblem delete - select - insert (DnfNow)</div>
		<div id="getRankByDundam">rankData delete - select - insert (DunDam) 직업별 랭킹 1~200위 데이터를 크롤링합니다. (업데이트용) !!!!최초 DB 구성시에는 4. Init Rank Data 만 실행시켜 주세요.!!!! </div>
		<div id="initJobDetail">JobDetail delete - select - insert (Noeple) 최초 DB 구성시에만 실행시켜주세요.</div>
		<div id="initOptionAndEmblemByRankData">Rank Data로 Avatar Option, Emblem 비율을 생성합니다. Rank Data 필수</div>
		<div id="getEmblemPrice">EmblemRate Data -> EmblemPrice Data insert</div>
		<div id="initMarketMaster">MarketMaster Price 초기화합니다. 운영시 Task.java 스케쥴러 작동</div>
		
		
		<!-- 테스트 -->
		<div id="testDataCase">DataService에 test()를 호출합니다.</div>
		<div id="testCase">AdminService에 test()를 호출합니다.</div>
		
		
		<!-- DB 초기화 TXT -> DB -->
		<div id="initRankData">classpath:static/initData/rank.txt --> DB(RANK_DATA) 삭제 후 생성합니다.</div>
		<div id="initShowRoomData">classpath:static/initData/showroomdata.txt --> DB(SHOW_ROOM) 삭제 후 생성합니다.</div>
		<div id="initEmblemData">classpath:static/initData/emblem.txt --> DB(EMBLEM) 삭제 후 생성합니다.</div>
		<div id="initEmblemRateData">classpath:static/initData/emblemRate.txt DB(EMBLEM_RATE) 삭제 후 생성합니다.</div>
		<div id="initOptionAbilityData">classpath:static/initData/optionAbility.txt --> DB(OPTION_ABILITY) 삭제 후 생성합니다.</div>

		<!-- 백업 데이터 DB -> TXT -->
		<div id="bakRankData">DB(RANK_DATA) --> classpath:static/initData/rank.txt 데이터를 추출합니다.</div>
		<div id="bakEmblemData">DB(EMBLEM) --> classpath:static/initData/emblem.txt 데이터를 추출합니다.</div>
		<div id="bakShowRoomData">DB(SHOWROOM) --> classpath:static/initData/showroomdata.txt 데이터를 추출합니다.</div>
		<div id="bakEmblemRateData">DB(EMBLEM_RATE) --> classpath:static/initData/emblemRate.txt 데이터를 추출합니다.</div>
		<div id="bakOptionAbilityData">DB(OPTION_ABILITY) --> classpath:static/initData/optionAbility.txt 데이터를 추출합니다.</div>
	</div>







		<!-- 테스트 공간 -->
		
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sizedModalLg">
              Large
            </button>
            <div class="modal fade" id="sizedModalLg" tabindex="-1" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Large modal</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	               				<span aria-hidden="true">×</span>
	             			</button>
						</div>
						<div class="modal-body m-3">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">
    $(document).ready(function () {
    	$('.data-manage').addClass('active');
    	$.when(
            $.get('/admin/data.ajax')
            ).then(function (res1) {
                initData(res1.data);
            });
    });
    
    function initData(res) {
    	var data = res.data;
    }
    
    function dataManage(target) {
    	if (!confirm($('#'+target).text() + '  실행하시겠습니까?')) {
    		return false;
    	}

    	$.ajax({
    		url : '/admin/dataManage.ajax',
    		data : {
    			target : target
    		},
    		success : function(res) {
    			alert(res.message);
    		}
    	})
    	
    }
    
    function ioIdInsert(target) {
    	var job = $('#selectJob2').val();
    	
    	if (!job) {
    		return false;
    	}
    	$.ajax({
    		url : '/admin/ioIdInsert.ajax',
    		data : {
    			job : job,
    			target : target
    		},
    		success : function(res) {
    			alert(res.message);
    		}
    	})
    	
    }
    
    function charIdTest() {
    	var server = $('#server').val();
    	var name = $('#name').val();
    	
    	$.ajax({
    		url : '/admin/charIdTest.ajax',
    		data : {
    			server : server,
    			name : name
    		},
    		success : function(res) {
    			console.log(res.data);
    		}
    	})
    }
    
    </script>
</th:block>

</html>